body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  max-width: 500px;
  background: lightblue;
  position: relative;

  margin-top: 30px;
}

.card img {
  border-radius: 100%;
  height: 80px;
  right: 30px;
  top: 10px;
  position: absolute;
}

.card h1 {
  background: blue;
  height: 50%;
}
.card p {
  max-height: 25%;
}
